<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Event Planner</title>
</head>
<body>
    <h1>Event Planner</h1>
    <h2></h2>
    <h2>Events</h2>
    <ul>
        {% for event in events %}
        <li>{{ event[1] }} - ${{ event[2] }}
            <form action="{{ url_for('delete_event', id=event[0]) }}" method="post" style="display:inline;">
                <button type="submit">Delete</button>
            </form>
        </li>
        {% endfor %}
    </ul>
    <h2>Add a new book</h2>
    <form action="{{ url_for('add_event') }}" method="post" enctype="multipart/form-data">
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" required><br>
        <label for="date">Date:</label>
        <input type="date" id="date" name="date" required><br>
        <label for="poster">Poster:</label>
        <input type="file" id="poster" name="poster" accept="poster/*" required><br>
    <button type="submit">Add Event</button>
</body>
</html>